{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock style %}
{% block content %}
    <div class="p-5 br-default bg-white form-container">
        <form action="/" method="POST">
            <div class="form-row w-100 flex o-center v-center p-half">
                <input class="w-100 p-half font-1-half b-bottom" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-row w-100 flex o-center v-center p-half">
                <input class="w-100 p-half font-1-half b-bottom" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-row w-100 flex v-center p-half error bold p-1 text-left">
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>                               
                            {% endfor %}
                        {% endif %}
                {% endwith %}
            </div>
            <div class="form-row w-100 flex o-center v-center p-half">
                <input class="b-none us-none p-half font-1-half br-circle" type="submit" value="Accedi">
            </div>
        </form>
    </div>
{% endblock content %}