{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
{% endblock style %}
{% block content %}
    <!-- Container that shows specific details about a specific food -->
    <div class="food-details w-50 p-4 br-default z-30 column disp-none" id="foodDetailsDiv">
        <div class="w-100 p-1" id="foodDescription"></div>
        <div class="w-100 p-1" id="foodContributionsCalories"></div>
        <div class="w-100 p-1" id="foodContributions"></div>
        <div class="w-100 p-1" id="howManyOccurrences"></div>
    </div>

    <!-- Container that shows specific details about a specific food related to week days trends -->
    <div class="food-details w-50 p-4 br-default z-30 column disp-none" id="foodWeekDaysInsightsDiv">
        <div class="w-100 p-1" id="twoBestWeekDays"></div>
        <div class="w-100 p-1" id="mostPairedFood"></div>
    </div>

    <!-- Container that shows the calorie spread pie chart -->
    <div class="food-details w-50 p-4 br-default z-30 column disp-none" id="energySpreadPieChartDiv">
        <canvas id="energySpreadPieChart"></canvas>
    </div>

    <!-- Container that shows the trend related to the set goals -->
    <div class="food-details w-50 p-4 br-default z-30 column disp-none" id="setGoalsInsightsDiv">
    </div>

    <!-- Background effect -->
    <div class="w-100 h-100 z-10 disp-none" id="overlay"></div>

    <div class="container w-100 h-100 flex column">
        <div class="row-div row w-100 h-50 flex">
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    I tuoi Alimenti Preferiti per Pasto
                </div>
                <div class="w-100 h-90 b-default">
                    <div class="w-100 h-10 flex o-center v-center" style="background: white;">
                        <select name="" class="b-none flex o-center v-center" id="bestFiveFoodsPerMealSelect">
                            <option value="Colazione">Colazione</option>
                            <option value="Pranzo">Pranzo</option>
                            <option value="Cena">Cena</option>
                            <option value="Spuntini">Spuntini</option>
                        </select>
                    </div>
                    <div class="w-100 h-90" id="bestFiveFoodsPerMealDiv"></div>
                </div>
            </div>
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    I tuoi Macro per una Data Specifica
                </div>
                <div class="w-100 h-90 b-default">
                    <div class="w-100 h-10 flex o-center v-center" style="background: white;">
                        <input type="date" id="macrosDateInput" />
                    </div>
                    <div class="w-100 h-90" id="macrosPerDateDiv"></div>
                </div>
            </div>
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    Giorno della Settimana con più Calorie
                </div>
                <div class="w-100 h-90 b-default" id="orderedDaysByCalories">
                    <div class="w-100 h-30 text-center flex v-center" id="bestDayByCalories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                    <div class="w-100 h-11-6 b-top flex space-between p-o-1 v-center day-by-calories"></div>
                </div>
            </div>
        </div>
        <div class="row-div row w-100 h-50 flex">
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    I tuoi Alimenti Preferiti per Giorno
                </div>
                <div class="w-100 h-90 b-default">
                    <div class="w-100 h-10 flex o-center v-center" style="background: white;">
                        <select name="" class="b-none flex o-center v-center" id="bestFiveFoodsPerWeekDaySelect">
                            <option value="Monday">Lunedì</option>
                            <option value="Tuesday">Martedì</option>
                            <option value="Wednesday">Mercoledì</option>
                            <option value="Thursday">Giovedì</option>
                            <option value="Friday">Venerdì</option>
                            <option value="Saturday">Sabato</option>
                            <option value="Sunday">Domenica</option>
                        </select>
                    </div>
                    <div class="w-100 h-90" id="bestFiveFoodsPerWeekDay"></div>
                </div>
            </div>
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    Analisi dello 'Spread Calorico' <button class="m-l-0-5" id="showCalorieSpreadBtn">Vedi Grafico</button>
                </div>
                <div class="w-100 h-90 b-default flex column">
                    <div class="w-100 flex o-center v-center b-bottom p-1" id="mostCaloricMeal"></div>
                    <div class="w-100 flex column o-center p-1" id="otherCaloricMeals" style="flex: 1;"></div>
                </div>
            </div>
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    Trend delle Calorie (Ultimi 7 giorni)
                </div>
                <div class="w-100 h-90 b-default flex v-center">
                    <canvas id="caloriesTrendGraphs"></canvas>
                </div>
            </div>
        </div>
        <div class="row-div row w-100 flex ">
            <div class="w-66 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    I tuoi Obbiettivi
                </div>
                <div class="w-100 h-90 b-default flex column">
                    <div class="w-100 b-bottom p-1" id="goalDescriptionDiv"></div>
                    <button id="openSetGoalInsightsBtn">Clicca qui</button>
                </div>
            </div>
            <div class="w-33 h-100 p-1">
                <div class="title w-100 h-10 b-none flex o-center v-center bold">
                    I Trend
                </div>
                <div class="w-100 h-90 b-default flex column">
                    <div class="w-100 h-10 flex o-center v-center" style="background: white;">
                        <select name="" class="b-none flex o-center v-center text-center" id="nutrientToMakePlot">
                            <option value="--">--</option>
                            <option value="calorie">Calorie</option>
                            <option value="proteine">Proteine</option>
                            <option value="grassi">Grassi</option>
                            <option value="zuccheri">Zuccheri</option>
                            <option value="grassi_saturi">Grassi Saturi</option>
                            <option value="carboidrati">Carboidrati</option>
                        </select>
                        <select class="b-none flex o-center v-center text-center" id="intervalDaysToMakePlot">
                            <option value="--">--</option>
                            <option value="last_seven">Ultimi 7 giorni</option>
                            <option value="last_thirty">Ultimi 30 giorni</option>
                        </select>
                    </div>
                    <div class="w-100 h-90 flex v-center column">
                        <div class="w-100 h-100 flex-o-center v-center p-1" id="defaultParagraph">
                            Seleziona il Macronutriente e il Periodo di Analisi.
                        </div>
                        <canvas id="globalTrendsGraph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='javascript/user_dashboard.js') }}"></script>
{% endblock script %}